* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color:#b8c7bf;
    height: 100vh;
}

h2 {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
    font-weight: lighter;
    color: #094067;
    /* text-shadow: 0px 2px #121629; */
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.8rem;
}

h1 {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
    font-weight: lighter;
    color: #094067;
    /* text-shadow: 0px 2px #121629; */
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2.8rem;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0.1rem;
    font-family: 'Press Start 2P', sans-serif;
}

#letter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.letter {
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    background-color: #90b4ce;
    color: #094067;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: regular;
    border: none;
    box-shadow: 0 5px #094067;
}

.letter:active {
    background-color: #3da9fc;
    color: #ef4565;
    box-shadow: 0 2px #094067;
    transform: translateY(3px);
}

.letter:hover {
    background-color: #3da9fc;
    box-shadow: 0 5px #094067;
    cursor: pointer;
}

#guess-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    height: fit-content;
}

#form {
    width: fit-content;
    text-align: center;
}

#guess-input {
    width: 370px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3px;
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    color: #042034;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #042034;
    opacity: 0.7;
}

/* style all buttons */
/* button {
    width: fit-content;
    height: 40px;
    margin: 10px 2px;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    background-color: rgb(210, 210, 210);
    color: black;
    border: none;
    box-shadow: 0 5px rgb(170, 170, 170);
} 

button:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

button:active {
    box-shadow: 0 2px rgb(130, 130, 130);
    transform: translateY(3px);
} 

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
} */

#guess-button, #clear-button, #give-up-button {
    width: fit-content;
    align-items: center;
    height: 30px;
    margin: 2px 15px;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    background-color: #90b4ce;
    color: #094067;
    border: none;
    box-shadow: 0 5px #094067;
}

#new-word-button {
    width: fit-content;
    align-items: center;
    height: 30px;
    margin: 2px 2px;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    background-color: #90b4ce;
    color: #094067;
    border: none;
    box-shadow: 0 5px #094067;
}

 #guess-button:hover, #clear-button:hover, #give-up-button:hover, #new-word-button:hover {
    background-color: #3da9fc;
    cursor: pointer;
}

#guess-button:active, #clear-button:active, #give-up-button:active, #new-word-button:active {
    box-shadow: 0 2px #3da9fc;
    transform: translateY(3px);
}

/* style the score container */
#score-container {
    text-align: center;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#score {
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    margin: auto;
    color: #ef4565; 
}

#score-text {
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    margin: auto; 
    color: #ef4565;    
}

#message-container {
    text-align: center;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    margin-bottom: 1rem;
    color: #094067; 
}

#message {
    text-align: center;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    margin-bottom: 2rem;
    color: #094067;     
}

/* Optimisation for iPhone 12 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    h2 {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        font-weight: lighter;
        color: #094067;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 3rem;
    }
    
    h1 {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        font-weight: lighter;
        color: #094067;
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 5rem;
    }
    
    #score-container, #message-container, #score, #score-text, #new-word-button, #guess-button, #clear-button, .letter {
        font-size: 1.7rem;
    }

    #message {
        margin: 5rem;
        font-size: 1.7rem;
        line-height: 3;
    } 

    #game-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        padding: 0.2rem;
        font-family: 'Press Start 2P', sans-serif;
    }
    
    #letter-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        margin: auto;
        padding: 20px;
    }
    
    .letter {
        width: 180px;
        height: 180px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        background-color: #90b4ce;
        color: #094067;
        text-align: center;
        font-size: 2rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: regular;
        border: none;
        box-shadow: 0 5px #094067;
    }

    .letter:active {
        background-color: #3da9fc;
        color: #ef4565;
        box-shadow: 0 2px #094067;
        transform: translateY(3px);
    }

    #guess-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.5rem;
        height: fit-content;
    }
    
    #form {
        width: fit-content;
        display: block;
    }

    ::placeholder {
        color: #042034;
        opacity: 0.7;
    }
    
    #guess-input {
        width: 550px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
    }

    input:focus {
        outline: none;
    }

    #guess-button, #clear-button, #give-up-button {
        width: fit-content;
        align-items: center;
        height: 60px;
        margin: 10px 15px;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
        background-color: #90b4ce;
        color: black;
        border: none;
        box-shadow: 0 5px #094067;
    }
    
    #new-word-button {
        width: fit-content;
        align-items: center;
        height: 60px;
        margin: 10px 2px;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
        background-color: #90b4ce;
        color: black;
        border: none;
        box-shadow: 0 5px #094067;
    } 

}

/* Optimisation for Samsung Galaxy S8 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 740px) 
  and (-webkit-min-device-pixel-ratio: 4) {

    h2 {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        font-weight: lighter;
        color: #094067;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 3rem;
    }
    
    h1 {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        font-weight: lighter;
        color: #094067;
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 5rem;
    }
    
    #score-container, #message-container, #score, #score-text, #new-word-button, #guess-button, #clear-button, .letter {
        font-size: 1.7rem;
    }

    #message {
        margin: 5rem;
        font-size: 1.7rem;
        line-height: 3;
    } 

    #game-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        padding: 0.2rem;
        font-family: 'Press Start 2P', sans-serif;
    }
    
    #letter-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        margin: auto;
        padding: 20px;
    }
    
    .letter {
        width: 180px;
        height: 180px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        background-color: #90b4ce;
        color: #094067;
        text-align: center;
        font-size: 2rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: regular;
        border: none;
        box-shadow: 0 5px #094067;
    }

    .letter:active {
        background-color: #3da9fc;
        color: #ef4565;
        box-shadow: 0 2px #094067;
        transform: translateY(3px);
    }

    #guess-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.5rem;
        height: fit-content;
    }
    
    #form {
        width: fit-content;
        display: block;
    }
    
    #guess-input {
        width: 550px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
    }

    input:focus {
        outline: none;
    }

    #guess-button, #clear-button, #give-up-button {
        width: fit-content;
        align-items: center;
        height: 60px;
        margin: 10px 15px;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
        background-color: #90b4ce;
        color: black;
        border: none;
        box-shadow: 0 5px #094067;
    }
    
    #new-word-button {
        width: fit-content;
        align-items: center;
        height: 60px;
        margin: 10px 2px;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
        background-color: #90b4ce;
        color: black;
        border: none;
        box-shadow: 0 5px #094067;
    } 

}

/* Optimisation for Google Pixel 5 */
@media screen 
  and (device-width: 393px) 
  and (device-height: 851px) 
  and (-webkit-min-device-pixel-ratio: 2.75) {

    h2 {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        font-weight: lighter;
        color: #094067;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 3rem;
    }
    
    h1 {
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        font-weight: lighter;
        color: #094067;
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 5rem;
    }
    
    #score-container, #message-container, #score, #score-text, #new-word-button, #guess-button, #clear-button, .letter {
        font-size: 1.7rem;
    }

    #message {
        margin: 5rem;
        font-size: 1.7rem;
        line-height: 3;
    } 

    #game-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        padding: 0.2rem;
        font-family: 'Press Start 2P', sans-serif;
    }
    
    #letter-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        margin: auto;
        padding: 20px;
    }
    
    .letter {
        width: 180px;
        height: 180px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        background-color: #90b4ce;
        color: #094067;
        text-align: center;
        font-size: 2rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: regular;
        border: none;
        box-shadow: 0 5px #094067;
    }

    .letter:active {
        background-color: #3da9fc;
        color: #ef4565;
        box-shadow: 0 2px #094067;
        transform: translateY(3px);
    }

    #guess-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.5rem;
        height: fit-content;
    }
    
    #form {
        width: fit-content;
        display: block;
    }
    
    #guess-input {
        width: 550px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
    }

    input:focus {
        outline: none;
    }

    #guess-button, #clear-button, #give-up-button {
        width: fit-content;
        align-items: center;
        height: 60px;
        margin: 10px 15px;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
        background-color: #90b4ce;
        color: black;
        border: none;
        box-shadow: 0 5px #094067;
    }
    
    #new-word-button {
        width: fit-content;
        align-items: center;
        height: 60px;
        margin: 10px 2px;
        font-size: 1.6rem;
        font-family: 'Press Start 2P', sans-serif;
        font-weight: lighter;
        background-color: #90b4ce;
        color: black;
        border: none;
        box-shadow: 0 5px #094067;
    }  

  }
